<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
			  {{- partial "left_menu.html" . -}}
			  {{- partial "user_entry.html" . -}}
        <div id="wrapper" class="clearfix">
           <div id="body">
             <div id="main" class="main">
              {{- partial "page_title.html" . -}}
           		{{- block "main" . }}{{- end }}
           		<div class="fixed-btn">
           		    <a class="btn-gotop" href="javascript:"> <i class="fa fa-angle-up"></i></a>
           		</div>
              {{- partial "footer" . -}}
           	</div>
           </div>
        </div>
    <script>
        $(function () {
            SimpleCore.init({
                buildingTime: '<%= theme.siteBuildingTime %>',
                current: $('.post-tags').length > 0 ? 'post' : 'archive',
                customImg: '{{ .Site.Params.tipImg }}',
                tipImg: '{{ .Site.Params.tipImg }}',
            });
            const observer = lozad();
            observer.observe();
    
            
            //打字特效
            POWERMODE.colorful = true; // make power mode colorful
            POWERMODE.shake = false; // turn off shake
            document.body.addEventListener('input', POWERMODE);
    
            //为超链接加上target='_blank'属性  
            // $('a[href^="http"]').each(function() {  
            //     $(this).attr('target', '_blank');  
            // });
    
            // window.onblur = function (){ 
            //     document.title = '快回来学习~'; 
            // };
            // window.onfocus = function (){ 
            //     document.title = 'hojun-好少年光芒万丈！'; 
            // }; 
        });
    </script>
    </body>
</html>
