{{ define "main" }}
{{- partial "middle_cover" . -}}
<div class="main-inner">
    <article class="post" itemscope itemtype="http://www.hojun.cn">
        <div class="post-header">
            <h3 class="post-title">总的来说 - 目前共计{{ len .Data.Terms.ByCount }}类标签</h3>
        </div>
        <p><img width="100%" src="https://cdn.jsdelivr.net/gh/honjun/ImageHosting/sina/006bYVyvgy1ftan8b6mnyj30go0cumzs.jpg" alt="tags-bg"></p> 
        <div class="post-content markdown-body" itemprop="articleBody">
            <ul class="tag-list">
                {{ range $key, $value := .Data.Terms.ByCount }}
                <li><a href="{{ $value.Name | urlize }}">{{ $value.Name }}({{ $value.Count }})</a></li>
                {{ end }}
            </ul>
        </div>
    </article>
</div>
{{ end }}