<div id="loading">
	<div id="loading-center">
		<div id="loading-center-absolute">
			<div class="object" id="object_five"></div>
			<div class="object" id="object_four"></div>
			<div class="object" id="object_three"></div>
			<div class="object" id="object_two"></div>
			<div class="object" id="object_one"></div>
		</div>
	</div>
</div>
<div id="nav">
    <nav class="nav-menu">
        <a class="site-name current" href="/" title="{{$.Site.Params.shortName }}">{{$.Site.Params.shortName }}</a>
        <a href="/archives/" title="归档"><i class="fa fa-archives"></i><span>归档</span></a>
        <a href="/tags/" title="标签"><i class="fa fa-tags"></i><span>标签</span></a>
        <a href="/help/" title="帮助"><i class="fa fa-question-circle"></i><span>帮助</span></a>
    </nav>
</div>