<div id="cover">
    <div class="cover-img" style='background: url("https://cdn.jsdelivr.net/gh/honjun/ImageHosting/sina/006bYVyvgy1ftan83yt2ij30c30u9jtr.jpg") center center / cover no-repeat;'></div>
    <div class="cover-info">
        <a href="/about_hojun.html"><img title="{{ .Site.Title }}" class="avatar" width="72" src="{{.Site.Params.avatar}}" alt="avatar" /></a>
        <h1>{{.Site.Params.siteName}}</h1>
        <h3>{{.Site.Params.coverTitle}}</h3>
        <p>{{.Site.Params.coverDescription}}</p>
        <div class="cover-sns">
            <div class="btn btn-weixin">
                <a class="" href="javascript:"><i class="fa fa-weixin"></i></a>
                <div class="qrcode"><img src="{{.Site.Params.weixin}}" alt="weixinQrcode" /></div>
                <div class="qrcode-arrow"></div>
            </div>
            <div class="btn btn-weibo">
                <a href="{{.Site.Params.sinaWb}}" target="_blank" rel="nofollow"><i class="fa fa-weibo"></i></a>
            </div>
            <div class="btn btn-qq">
                <a href="{{.Site.Params.qq}}"  target="_blank" rel="nofollow"><i class="fa fa-qq"></i></a>
            </div>
            <div class="btn btn-github">
                <a href="{{.Site.Params.github}}"  target="_blank" rel="nofollow"><i class="fa fa-github"></i></a>
            </div>
            <div class="btn btn-bili">
                <a href="{{.Site.Params.bili}}"  target="_blank" rel="nofollow"><i class="iconfont icon-bilibili"></i></a>
            </div>
        </div>
    </div>
</div>