<div class="main-inner">
    <article class="post">
        <div class="post-header">
            <div class="post-author clearfix">
                <a class="avatar fleft" href="{{ .Params.authorLink }}" target="_blank">
                    <img width="48" src="{{ .Site.Params.avatar }}" alt="avatar">
                </a>
                <p><span class="label">作者</span>
                    <span>{{ .Params.author }}</span>
                    <span>{{ .Date.Format .Site.Params.date_format }}</span>
                </p>
                <p>{{ .Params.authorDesc }}</p>
            </div>
            <h2 class="post-title">{{ .Title }}</h2>
            <div class="post-meta">
                本文总共{{ .Content | countwords  }}个字 | 您是第<span id="busuanzi_value_page_pv"><i class="fa fa-spinner fa-spin"></i></span>位看到它们的小伙伴
            </div>
        </div>
        <div class="post-content markdown-body">
            {{ .Content }}
            <p style="text-align: center;">希望这篇文章能给你带来知识和乐趣，喜欢博主的文章可以加博主好友哦<img class="owoemoji" src="/OwO/img/脸红.png"></p>
            <p style="text-align: center;">有好的文章也可以向博主投稿哦<img class="owoemoji" src="/OwO/img/期待.png"></p>
        </div>
        <div style="text-align:center" class="social-share" data-disabled="facebook, twitter, google"></div>
        <p style="text-align: center;">您的喜欢是作者写作最大的动力<img class="owoemoji" src="/OwO/img/爱心.png"></p>
        

        <div class="post-tool">
            <a class="btn-weixin-tip" href="javascript:void(0);">
                <i class="fa fa-mobile" aria-hidden="true"></i> 打赏支持
            </a>
        </div>

        <p style="text-align: center;"><img class="owoemoji" src="/OwO/img/太开心.png">QQ群和公众号
        <p style="text-align: center;"><img height="200px" src="{{ .Site.Params.QQGroup }}"><img src="{{ .Site.Params.weixinG }}"></p>
        {{ $series := .Params.series }}
        {{ $title := .Title }}
        {{ if $series }}
            <div class="post-series">{{$series}}相关文章：
            {{ range first 10 ( where .Site.Pages "Params.series" $series ) }}
                {{ if (ne .Title $title) }}
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{ end }}
            {{ end }}
        {{ end }}
        {{ if .Params.Tags }}
        <div class="post-tags">标签：
            {{ with .Params.Tags }}
                {{ range . }}
                    <a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ . }}</a>
                {{ end }}
            {{ end }}
        </div>
        {{ end }}
    </article>
    <div class="post-nav">
        {{ if .PrevInSection }}
        <div class="post-nav-prev post-nav-item">
            <a href="{{ .PrevInSection.Permalink }}" >{{ .PrevInSection.Title }}<i class="fa fa-chevron-left"></i></a>
        </div>
        {{ end }}
        {{ if .NextInSection }}
        <div class="post-nav-next post-nav-item">
            <a href="{{ .NextInSection.Permalink }}" >{{ .NextInSection.Title }}<i class="fa fa-chevron-right"></i></a>
        </div>
        {{ end }}
    </div>
    {{- partial "comments.html" . -}}
</div>
<!-- 不蒜子 网页计数器 -->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
