.snowfall-flakes{animation:sakura 1s linear 0s infinite;}
@keyframes sakura{
	0% {transform:rotate3d(0, 0, 0, 0deg);}
	25%{transform:rotate3d(1, 1, 0, 60deg);}
	50%{transform:rotate3d(1, 1, 0, 0deg);}
	75%{transform:rotate3d(1, 0, 0, 60deg);}
	100% {transform:rotate3d(1, 0, 0, 0deg);}
}
.lozad {
  min-width: 250px;
}