{{ define "main" }}
{{- partial "middle_cover" . -}}
<div class="main-inner">
    <article class="post" itemscope itemtype="http://www.hojun.cn">
        <div class="post-header">
            <h3 class="post-title">坦率的讲 - 本站目前共计{{ len (where .Site.RegularPages "Section" "==" "posts") }}篇文章</h3>
        </div>
        <p><img width="100%" src="https://cdn.jsdelivr.net/gh/honjun/ImageHosting/sina/006bYVyvgy1ftan82vswaj30go0a60wr.jpg" alt="category-bg"></p>
        <div class="post-content markdown-body" itemprop="articleBody">
            <div class="archives">
              <div class="archives-item">
                {{ range (where (where .Site.Pages "Type" "posts") "Kind" "page").GroupByDate "2006年01月" }}
                <h2>{{ .Key }}</h2>
                   <ul class="archives_list">
                    {{ range .Pages }}
                    <li>{{ .Date.Format "02日 15:04:00" }}
                      <a target="_self" href="{{ .Permalink }}">{{ .Title }}</a>
                    </li>
                    {{ end }}
                  </ul>
                {{ end }}
              </div>
            </div>
        </div>
    </article>
</div>
{{ end }}